.a-image {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  transition: $transition-long ease;
  width: 100%;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-inherit {
    img {
      object-fit: inherit;
    }
  }

  &-initial {
    img {
      object-fit: initial;
    }
  }

  &-contain {
    img {
      object-fit: contain;
    }
  }

  &-1x1 {
    @include aspect-ratio(1, 1);
  }

  &-1366x400 {
    @include aspect-ratio(1366, 400);
  }

  &-logo-footer {
    @include aspect-ratio(154, 96);
  }

  &-354x221 {
    @include aspect-ratio(353, 221);
  }

  &-148x59 {
    @include aspect-ratio(148, 59);
  }

  &-184x59 {
    @include aspect-ratio(184, 59);
  }

  &-367x204 {
    @include aspect-ratio(367, 204);
  }

  &-24x34 {
    @include aspect-ratio(24, 34);
  }
  
  &-354x199 {
    @include aspect-ratio(354, 199);
  }
  
  &-1366x378 {
    @include aspect-ratio(1366, 378);
  }
  &-1369x372 {
    @include aspect-ratio(1369, 372);
  }
  &-1369x167 {
    @include aspect-ratio(1369, 167);
  }
}
