.t-utilityHome {
  $root: &;
  padding: rem(82) 0 rem(60);
  position: relative;

  @include tablet-down {
    padding: rem(48) 0 rem(30);
  }

  @include mobile-down {
    padding: rem(28) 0 rem(15);

  }

  &_overlay {
    background-color: rgba($gamboge-orange, 0.3);
    bottom: rem(112);
    filter: blur(140px);
    height: 100%;
    margin: auto;
    max-height: rem(466);
    max-width: rem(1126);
    position: absolute;
    width: 100%;
  }

  &_content {
    position: relative;
    z-index: 10;
  }

  &_wrapCarousel {
    margin-top: rem(32);

    @include tablet-down {
      margin-top: rem(20);
    }

    @include mobile-down {
      margin-top: rem(10);
    }
  }

  &_carouselMain {
    max-width: rem(929);
  }

  &_itemMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-desc {
      margin-top: rem(8);
      max-width: rem(526);
      min-height: rem(60);
      @include text-overflow(3);

      @include mobile-down {
        min-height: 100%;
      }
    }

    &-thumb {
      margin-top: rem(11);
    }
  }

  &_carouselMenu {
    $carouselMenu: &;
    max-width: rem(432);
    padding: rem(45) 0;
    position: absolute;
    right: 0;
    top: 0;

    @include desktop-down {
      margin: rem(20) auto 0;
      max-width: 75%;
      padding: 0;
      position: initial;
    }

    @include mobile-down {
      margin-top: rem(20);
    }

    @include small-mobile {
      max-width: 100%;
    }

    .o-carousel {
      &_arrow {

        @include desktop-down {
          height: rem(40);
          width: rem(40);
        }

        &_prev {
          background: rgba($gamboge-orange, 0.1);
          left: unset;
          right: calc(40 / 432 * 100%);
          top: rem(-19);

          @include desktop-down {
            left: rem(-35);
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
          }

          &::before {
            background-image: url('~assets/icons/ic_arrow_top.svg');
          }

          &:not(.slick-disabled):hover::before {
            background-image: url('~assets/icons/ic_arrow_top_white.svg');
          }
        }

        &_next {
          background: rgba($gamboge-orange, 0.1);
          bottom: rem(-59);
          right: calc(40 / 432 * 100%);
          top: unset;

          @include desktop-down {
            right: rem(-35);
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
          }

          &::before {
            background-image: url('~assets/icons/ic_arrow_bottom.svg');
          }

          &:not(.slick-disabled):hover::before {
            background-image: url('~assets/icons/ic_arrow_bottom_white.svg');
          }
        }
      }
    }

    .slick-current {
      #{$root} {
        &_itemMenu {
          &-border {
            transform: scale(1.45);

            @include tablet-down {
              transform: scale(1.45);
            }

            &::after {
              background: rgba($chocolate, 0.2);
            }

            &::before {
              background: rgba($chocolate, 0.2);
            }
          }

          &-borderAnimate { 
            animation: song 2s linear infinite;
            visibility: visible;
          }

          &-icon {
            border: rem(3) solid $white;

            @include tablet-down {
              border-width: rem(2);
            }
          }
        }
      }
    }

    .slick-active:not(.slick-current),
    .slick-slide:not(.slick-active) {
      @include mobile-down {
        #{$root}_itemMenu-border {
          &::before,
          &::after {
            content: none;
          }
        }
      }
    }

    .slick-slider {
      .slick-list {
        margin-top: rem(-24);
        margin-bottom: rem(-24);
      }
      .slick-slide {
        padding-top: rem(24);
        padding-bottom: rem(24);
      }
    }

    .slick-vertical {
      .slick-list {
        margin-left: rem(-16);
        margin-right: rem(-16);
      }
      .slick-slide {
        padding: 0 rem(16);
      }
    }
  }

  &_itemMenu {
    $itemMenu: &;
    display: flex;
    justify-content: flex-end;
    margin: rem(25) 0;
    position: relative;

    @include desktop-down {
      justify-content: center;
      margin: rem(15) 0;
    }

    &:hover {
      #{$itemMenu} {
        &-label {
          opacity: 1;
          right: 100%;
        }
      }
    }

    &-wrapper {
      max-width: rem(117);
      position: relative;
      width: 100%;
      z-index: 2;

      @include tablet-down {
        max-width: rem(80);
      }
    }

    &-borderAnimate {
      border: rem(7) solid rgba($chocolate, 0.05);
      border-radius: rem(100);
      pointer-events: none;
      visibility: hidden;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      @keyframes song {
          0% {
            opacity: 1;
            transform: scale(1.1);
          }
          50% {
            opacity: 1;
            transform: scale(1.5);
          }
          100% {
            opacity: 0;
            transform: scale(0.9);
          }
      }
    }

    &-border {
      border: rem(4) solid rgba($chocolate, 0.05);
      border-radius: 50%;
      cursor: pointer;
      margin: auto;
      max-width: rem(80);
      position: relative;
      transition: all $transition-long linear;

      @include mobile-down {
        max-width: rem(60);
      }

      @include small-mobile {
        max-width: rem(48);
      }


      &::before {
        background: rgba($chocolate, 0.05);
        content: '';
        height: rem(30);
        left: 50%;
        position: absolute;
        top: rem(-30);
        transform: translateX(-50%);
        width: rem(2);

        @include desktop-down {
          height: rem(2);
          left: auto;
          right: 100%;
          top: 50%;
          transform: translateY(-50%);
          width: 150%;
        }
      }

      &::after {
        background: rgba($chocolate, 0.05);
        bottom: rem(-30);
        content: '';
        height: rem(30);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: rem(2);

        @include desktop-down {
          bottom: 0;
          height: rem(2);
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          width: 150%;
        }
      }
    }

    &-icon {
      border-radius: 50%;
      margin: auto;
      overflow: hidden;
      position: relative;
    }

    &-label {
      align-self: center;
      background: $floral-white;
      border-radius: 200px 0 0 200px;
      margin-right: rem(43);
      min-width: rem(230);
      padding: rem(12) rem(24);
      top: 50%;
      transform: translateY(-50%);
      right: calc(100% + 20px);
      opacity: 0;
      position: absolute;
      transition: all $transition-long linear;
     
      @include desktop-down {
        display: none;
      }

      &::after {
        border-bottom: rem(22) solid transparent;
        border-left: rem(27) solid $floral-white;
        border-top: rem(22) solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: rem(-27);
        top: 50%;
        transform: translateY(-50%);
        width: 0;
      }

      .a-text {
        @include text-overflow(3);
      }
    }
  }
}
