.m-markerCard {
  $root: &;
  position: relative;

  &_content {
    background-color: $white;
    border-radius: rem(16);
    bottom: rem(70);
    box-shadow: 0 4px 36px $black025;
    left: 50%;
    min-width: rem(399);
    opacity: 0;
    padding: rem(16);
    position: absolute;
    transform: translate(-50%, -30%);
    transition: all $transition ease-in-out;
    visibility: hidden;
    z-index: 10;

    @include desktop-down {
      min-width: rem(299);
    }

    @include tablet-down {
      min-width: rem(250);
      padding: rem(10);
    }

    @include mobile-down {
      bottom: rem(55);
      min-width: rem(180);
    }

    @include small-mobile {
      bottom: rem(30);
      min-width: rem(120);
      padding: rem(5);

      &::after {
        bottom: rem(-5);
        height: rem(11);
        width: rem(11);
      }
    }

    &-img {
      border-radius: rem(12);
      overflow: hidden;
    }

    &-title {
      margin-top: rem(16);
      @include text-overflow;

      @include mobile-down {
        margin-top: rem(8);
      }

      @include small-mobile {
        margin-top: rem(5);

        .a-text {
          @include font-base(11,15);
        }
      }
    }

    &::after {
      background-color: $white;
      bottom: rem(-10);
      content: '';
      height: rem(48);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      width: rem(48);
      z-index: -1;
      @include mobile-down {
        bottom: rem(-5);
        height: rem(16);
        width: rem(16);
      }
    }
  }

  &_marker {
    animation: jump 0.5s alternate infinite;
    cursor: pointer;
    margin: auto;
    max-width: rem(24);

    .a-image {
      transition: all $transition linear;
    }

    @include small-mobile {
      max-width: rem(12);
    }

    &-circle {
      border-radius: 50%;
      border: 1px solid $white;
      box-shadow: 0 0 10px $white;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 80%;
      transform: translate(-50%, -20%);
    }
  }

  &-active {
    #{$root} {
      z-index: 999;

      &_marker {
        animation: 0;

        .a-image {
          transform-origin: bottom center;
          transform: scale(1.5);
        }

        &-circle {
          animation: rippleMaker 1.5s ease-in-out infinite backwards;
          transform: translate(-50%, -20%) scale(1.5);
          @include tablet-down {
            transform: translate(-50%, -20%) scale(1.25);
          }
          @include small-mobile {
            transform: translate(-50%, -10%);
          }
        }
      }

      &_content {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
        z-index: 10;
      }
    }
  }

  @keyframes jump {
    0% {transform: translate3d(0, 0, 0);}
    40% {transform: translate3d(0, -20%, 0);}
    100% {transform: translate3d(0, -40%, 0);}
  }

  &_utilityMarker {
    align-items: center;
    border: rem(1) solid $white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: rem(28);
    justify-content: center;
    margin: auto;
    position: relative;
    width: rem(28);
    z-index: 0;

    @include small-mobile {
      width: rem(17);
      height: rem(17);
    }

    &-circle {
      animation: ripple 2s ease-in-out infinite;
      border-radius: 50%;
      border-style: solid;
      border-width: rem(1);
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes  rippleMaker {
    0% {
      height: rem(10);
      opacity: 0;
      width: rem(15);
    }

    50% {
      height: rem(15);
      opacity: 1;
      width: rem(25);
    }

    100% {
      height: rem(20);
      opacity: 0;
      width: rem(35);
    }
  }

  @keyframes  ripple {
    0% {
      height: rem(20);
      opacity: 0;
      width: rem(20);
    }

    50% {
      height: rem(35);
      opacity: 1;
      width: rem(35);
    }

    100% {
      height: rem(56);
      opacity: 0;
      width: rem(56);
    }
  }
}

.t-projectMap {
  &_image {
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &_title {
    &-pulldown {
      margin-top: rem(32);
    }
  }

  &_map {
    position: relative;
    z-index: 2;
  }

  &_listDivision {
    &-item {
      max-width: rem(24);
      position: absolute;
      width: 100%;
      transform: translate(-15px,-30px);

      @include small-mobile {
        transform: translate(-12px,-17px);
      }

      &.active{
        z-index: 1;
      }
    }
  }
}
