.m-markerCard {
  $root: &;
  position: relative;

  &_content {
    background-color: $white;
    border-radius: rem(12);
    bottom: rem(80);
    box-shadow: 0 4px 36px $black025;
    left: 50%;
    min-width: rem(399);
    opacity: 0;
    padding: rem(8);
    position: absolute;
    transform: translate(-50%, -30%);
    transition: all $transition ease-in-out;
    visibility: hidden;
    z-index: 9;

    @include break-max(1366px) {
      min-width: rem(290);
    }

    @include desktop-down {
      min-width: rem(215);
      padding: rem(5);
    }

    @include tablet-down {
      min-width: rem(180);
    }

    @include mobile-down {
      bottom: rem(55);
      min-width: rem(200);
    }

    @include small-mobile {
      bottom: rem(55);
      min-width: rem(120);

      &::after {
        bottom: rem(-5);
        height: rem(11);
        width: rem(11);
      }
    }

    &-img {
      border-radius: rem(12);
      overflow: hidden;
    }

    &-title {
      margin-top: rem(8);
      @include text-overflow;

      @include desktop-down {
        margin-top: rem(5);
      }

      @include small-mobile {
        .a-text {
          @include font-base(11,15);
        }
      }
    }

    &::after {
      background-color: $white;
      bottom: rem(-10);
      content: '';
      height: rem(48);
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      width: rem(48);
      z-index: -1;
      @include mobile-down {
        bottom: rem(-5);
        height: rem(16);
        width: rem(16);
      }
    }
  }

  &_marker {
    cursor: pointer;
    margin: auto;
    max-width: fit-content;
    background-color: $white;
    @include adjust-flex();
    padding: rem(4) rem(8);
    border-radius: rem(99);
    position: relative;
    transform: translateY(-24px);

    @include mobile-down {
      padding: rem(4);
    transform: translateY(-12px);
    }

    &::before {
      content: '';
      height: rem(24);
      border: rem(1) solid $white;
      position: absolute;
      bottom: rem(-24);
      left: rem(15);

      @include mobile-down {
        height: rem(12);
        bottom: rem(-12);
        left: rem(12);
      }
    }

    &-label {
      white-space: nowrap;
      margin-left: rem(8);

      .a-text {
        @include tablet-down {
          @include font-base(10, 15);
        }
      }

      @include mobile-down {
        display: none;
      }
    }
  }

  &-active {
    #{$root} {
      z-index: 10;

      &_content {
        opacity: 1;
        transform: translate(-50%, 0);
        visibility: visible;
        z-index: 10;
      }
    }
  }
  
  &_utilityMarker {
    align-items: center;
    border: rem(1) solid $white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: rem(28);
    justify-content: center;
    margin: auto;
    position: relative;
    width: rem(28);
    z-index: 0;

    @include break-max(1365px) {
      height: rem(23);
      width: rem(23);
      > .a-text {
        font-size: rem(11);
      }
    }

    @include small-mobile {
      width: rem(17);
      height: rem(17);
    }

    &-circle {
      animation: ripple 2s ease-in-out infinite;
      border-radius: 50%;
      border-style: solid;
      border-width: rem(1);
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes  rippleMaker {
    0% {
      height: rem(10);
      opacity: 0;
      width: rem(15);
    }

    50% {
      height: rem(15);
      opacity: 1;
      width: rem(25);
    }

    100% {
      height: rem(20);
      opacity: 0;
      width: rem(35);
    }
  }

  @keyframes  ripple {
    0% {
      height: rem(20);
      opacity: 0;
      width: rem(20);
    }

    50% {
      height: rem(35);
      opacity: 1;
      width: rem(35);
    }

    100% {
      height: rem(40);
      opacity: 0;
      width: rem(40);
    }
  }
}

.t-projectMap {
  &_image {
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &_title {
    &-pulldown {
      margin-top: rem(32);
    }
  }

  &_map {
    position: relative;
    z-index: 2;
  }

  &_listDivision {
    &-item {
      max-width: fit-content;
      position: absolute;
      width: 100%;
      transform: translate(-13px,-23px);

      @include mobile-down {
      transform: translate(-14px,-23px);
      }

      &.active{
        z-index: 1;
      }
    }
  }
}
