.a-text {
  font-family: $font-svn-gotham;
  margin: 0;
  transition: $transition ease;

  &-inline {
    display: inline-block;
  }

  &-11x18 {
    @include font-base(11, 18);
  }

  &-12x20 {
    @include font-base(12, 20);
  }

  &-14x20 {
    @include font-base(14, 20);
    @include mobile-down {
      @include font-base(12, 20);
    }
  }

  &-16x28 {
    @include font-base(16, 28);
  }

  &-20x32 {
    @include font-base(20, 32);
    @include mobile-down {
      @include font-base(16, 28);
    }
  }

  &-24x36 {
    @include font-base(24, 36);
    @include mobile-down {
      @include font-base(20, 32);
    }
  }

  &-fontOswald {
    font-family: $font-oswald;
  }

  @include style-letter-spacing();
  @include style-color-gradient();
  @include style-color();
  @include style-font-weight();
  @include style-general();
}
