.a-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  &-20 {
    height: rem(20);
    width: rem(20);
  }

  &-24 {
    height: rem(24);
    width: rem(24);
  }

  &-searchWhite {
    background-image: url('~assets/icons/ic_search_white.svg');
  }

  &-loadingWhite {
    background-image: url('~assets/icons/ic_loading_white.svg');
  }
}
