.t-selection {
  &_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: rem(47);
    margin-left: rem(55);
    @include mobile-down {
      margin-left: 0;
      flex-direction: column;
      align-items: center;
      background: $floral-white;
      gap: rem(20);
    }
    overflow: hidden;
  }
  &_content {
    position: relative;
    border-top-left-radius: rem(8);
    border-bottom-left-radius: rem(8);
    width: 100%;
    background: $floral-white;
    padding: rem(81) 0;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 105%;
      height: 100%;
      opacity: 0.2;
      background: $floral-white;
      transform: translateX(99%);
    }
    @include mobile-down {
      padding: 0;
      text-align: center;
    }
  }
  &_title {
    position: relative;
    z-index: 1;
    min-width: rem(285);
    @include mobile-up {
      float: right;
      max-width: rem(285);
    }
    @include mobile-down {
      min-width: inherit;
      text-align: center;
    }
  }
  &_thumbnail {
    width: 100%;
    height: 100%;
    max-width: 985px;
    position: relative;
    transform: translateX(4%);
    margin-bottom: rem(50);
    &:before {
      content: '';
      position: absolute;
      bottom: rem(-20);
      width: 100%;
      height: rem(50);
      background: $seal-brown;
      opacity: 0.3;
      filter: blur(40px);
    }
  }
}
