.t-selection {
  .container {
    max-width: 100%;
    padding: 0;
    padding-left: rem(220);

    @include max-desktop-down {
      padding-left: rem(55);
    }

    @include tablet-down {
      padding-left: rem(32);
    }

    @include small-mobile {
      padding-left: 0;
    }

  }

  &_flex {
    background-color: $floral-white;
    border-radius: rem(8);
    display: flex;
    padding-bottom: rem(81);
    padding-top: rem(81);
    position: relative;

    @include desktop-down {
      padding-bottom: rem(48);
      padding-top: rem(48);
    }
    @include tablet-down {
      display: block;
      padding-bottom: rem(24);
    }

    @include mobile-down {
      padding-top: rem(32);
    }
  }

  &_content {
    margin-left: rem(280);
    @include max-desktop-down {
      margin-left: rem(67);
    }
    @include desktop-down {
      margin-left: rem(32);
    }
  }

  &_thumbnail {
    bottom: rem(18);
    max-width: rem(912);
    position: absolute;
    right: 0;
    width: 100%;
    @include break-max(1365px) {
      max-width: rem(800);
    }
    @include desktop-down {
      max-width: rem(620);
    }
    @include tablet-down {
      bottom: 0;
      margin-left: auto;
      margin-top: rem(24);
      position: relative;
    }

    @include mobile-down {
      max-width: rem(520);
    }

    @include small-mobile {
      max-width: rem(280);
    }
  }

  &_layer {
    background-color: $seal-brown;
    bottom: rem(20);
    filter: blur(40px);
    height: rem(50);
    max-width: rem(848);
    opacity: 0.1;
    position: absolute;
    right: 0;
    width: 100%;

    @include desktop-down {
      max-width: rem(640);
    }
  }
}
