.t-popupImage {
  &_imageList {
    .o-carousel {
      margin-left: rem(-4);
      margin-right: rem(-4);

      &_item {
        padding-left: rem(4);
        padding-right: rem(4);
      }
    }

    .slick-current {
      .a-image {
        border: rem(2) solid $white;
      }
    }
  }

  &_imageShow {
    &_item {
      .a-image {
        margin: 0 auto rem(12);
        max-width: rem(930);
      }
    }
  }

  &_wrapper {
    .arrow-disable {
      pointer-events: none;
    }

    &.loading-block {
      pointer-events: none;
    }
  }

}
