.t-contactForm {
  padding: rem(160) 0 rem(78);
  background: url('~assets/images/contactForm/bg.png') no-repeat left bottom / 100% 47%;
  @include tablet-down {
    padding: rem(100) 0 rem(78);
  }

  &_description {
    max-width: rem(721);
    margin: rem(20) auto 0;
  }
}