.o-player {
  $root: &;
  padding-bottom: (526 / 934) * 100%;
  position: relative;

  video,
  iframe {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &-r10 {
    border-radius: rem(10);
    overflow: hidden;
  }

  &-shadow {
    box-shadow: 0 rem(4) rem(36) rgba($black, 0.25);
  }

  &_execute {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: all $transition linear;
    visibility: visible;
    width: 100%;
    @include adjust-flex();

    .a-icon {
      transition: all $transition linear;
    }

    &:hover {
      .a-icon {
        transform: scale(1.125);
      }
    }
  }

  &-playing {
    #{$root}_execute {
      opacity: 0;
      visibility: hidden;
    }
  }
  @include mobile-down {
    #{$root}_play {
      width: rem(60);
      height: rem(60);
    }
    #{$root}_icon {
      width: rem(40);
      transform: translateY(-6px);
      &::before {
        padding-top: 100%;
      }
    }
  }
  &_play {
    background: $white;
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    transform: rotate(90deg);
    @include adjust-flex(center, center);
  }
  &_icon {
    display: inline-block;
    width: rem(60);
    color: var(--theme);
    filter: url('#goo');
    transform: translateY(-8px);

    &::before {
      content: '';
      display: block;
      padding-top: 86%;
      background: currentColor;
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }
}
