.t-footer {
  $root: &;

  &_content {
    background-color: $antique-white;
    padding: rem(56) 0 rem(116);

    @include tablet-down {
      padding: rem(40) 0 rem(70);
    }
    
    @include mobile-down {
      padding: rem(30) 0 rem(40);
    }
  }

  &_header {
    display: flex;
    align-items: center;

    @include tablet-down {
      display: block; 
    }
  }

  &_logo {
    flex-shrink: 0;
    width: rem(153);
    margin-right: rem(40);
    @include tablet-down {
      margin-right: 0;
    }
    
    @include mobile-down {
      width: rem(120);
    }
  }

  &_social {
    flex: 1;
    display: flex;
    align-items: center;
    @include tablet-down {
      display: block;
      margin-top: rem(30);
    }
  
    > .a-text {
      margin-right: rem(16);
      @include tablet-down {
        margin-right: 0;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 rem(-4);
      @include tablet-down {
        margin: rem(8) rem(-4) 0 rem(-4);
      }
    }

    &-item {
      width: rem(40);
      padding: 0 rem(4);
    }
  }

  &_body {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(50);
    @include tablet-down {
      margin-top: rem(16);
    }
  }

  &_address {
    flex: 0 0 34%;
    max-width: 34%;
    margin-right: 8.7%;
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0;
    }

    &-item {
      margin-top: rem(16);

      &:first-child {
        margin-top: 0;
      }
    }

    &-subTitle {
      margin-bottom: rem(16);
      @include tablet-down {
        margin-bottom: rem(4);
      }
    }
  }

  &_exchanges {
    flex: 0 0 30%;
    max-width: 30%;
    margin-right: 4.3%;
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
      margin: rem(16) 0 0;
    }
  }

  &_menuList {
    flex: 0 0 23%;
    max-width: 23%;
    @include tablet-down {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: rem(16);
    }
  }

  &_menu {
    $menu: &;
    width: 100%;

    &-list {
      margin-top: rem(16);

      @include tablet-down {
        margin-top: rem(8);
      }
    }

    &-item {
      cursor: pointer;
      margin-top: rem(10);

      &:first-child {
        margin-top: 0;
      }

      &-content {
        @include adjust-flex(flex-start, center);
      }

      &:hover {
        #{$menu}-icon {
          margin-right: rem(6);
        }
      }
    }

    &-icon {
      flex-shrink: 0;
      margin-right: rem(2);
      transition: all $transition linear;
    }
  }

  &_copyRight {
    background-color: $eggshell;
    padding: rem(10) 0;

    &-wrap {
      @include adjust-flex(space-between, center);

      @include tablet-down {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    &-list {
      @include adjust-flex(flex-start, center);
      margin: 0 rem(-10);

      @include tablet-down {
        margin-bottom: rem(12);
      }

      @include mobile-down {
        align-items: flex-start;
        flex-direction: column;
        #{$root}_copyRight-divider {
          display: none;
        }
      }
    }

    &-item {
      padding: 0 rem(10);
      position: relative;

      .a-link {
        @include font-base(12, 20);
        color: $davy-grey;
        font-weight: 400;
      }
      @include mobile-down {
        margin-top: rem(8);
      }
    }
  }
}
