// fonts
@font-face {
  font-display: swap;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}Oswald-Regular.woff2') format('woff2'),
    url('#{$font-path}Oswald-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: $font-oswald;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}Oswald-Bold.woff2') format('woff2'),
    url('#{$font-path}Oswald-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: $font-svn-gotham;
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}SVN-Gotham.woff2') format('woff2'),
    url('#{$font-path}SVN-Gotham.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: $font-svn-gotham;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}SVN-GothamBold.woff2') format('woff2'),
    url('#{$font-path}SVN-GothamBold.woff') format('woff');
}
