@mixin text-overflow ($number: 2) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: ($number);
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin aspect-ratio($width: 1, $height: 1) {
  padding-bottom: ($height / $width) * 100%;
}

@mixin transition($value) {
  transition: $value;
}

@mixin scroll-bars(
  $size: 12,
  $thumb-color: $gamboge-orange,
  $track-color: $antique-white,
  $border-radius-thumb: 5,
  $border-thumb: 2
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    height: rem($size);
    margin-right: rem(10);
    width: rem($size);
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border: rem($border-thumb) solid $track-color;
    border-radius: rem($border-radius-thumb);
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  // For Internet Explorer
  
  scrollbar-face-color: $thumb-color;
  scrollbar-track-color: $track-color;
}

@mixin font-base($font-size: 16, $line-height: 24) {
  font-size: rem($font-size);
  line-height: rem($line-height);
}

@mixin style-bg-color() {
  &-bg-white {
    background-color: $white;
  }
}

@mixin style-font-weight() {
  &-100 {
    font-weight: 100;
  }

  &-200 {
    font-weight: 200;
  }

  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: normal;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: bold;
  }

  &-800 {
    font-weight: 800;
  }

  &-900 {
    font-weight: 900;
  }
}

@mixin style-general() {
  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-underline {
    text-decoration: underline;
  }

  &-italic {
    font-style: italic;
  }

  &-center {
    text-align: center;
  }

  &-justify {
    text-align: justify;
  }
}

@mixin reset-button {
  appearance: none;
  background-color: none;
  border: 0;
  outline: none;
}

@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin adjust-flex($justify-content: center, $align-item: center) {
  align-items: $align-item;
  display: flex;
  justify-content: $justify-content;
}

$colors-design: (
  'white': $white,
  'black': $black,
  'raisinBlack': $raisin-black,
  'snow': $snow,
  'antiFlashWhite': $anti-flash-white,
  'taupeGray': $taupe-gray,
  'davyGrey': $davy-grey,
  'antiFlashWhite2': $anti-flash-white2,
  'seaBlue': $sea-blue,
  'cyan': $cyan,
  'antiqueWhite': $antique-white,
  'copper': $copper,
  'carminePink': $carmine-pink,
  'isabelline': $isabelline,
  'yaleBlue': $yale-blue,
  'gambogeOrange': $gamboge-orange,
  'deer': $deer,
);



$colors-gradient-design: (
  'gradientGreen': $gradient-green,
  'gradientBlue' : $gradient-blue,
  'gradientBittersweet': $gradient-bittersweet,
);

@mixin style-background-color {
  @each $name, $color in $colors-design {
    &-#{$name} {
      background: $color;
    }
  }
}

@mixin style-color {
  @each $name, $color in $colors-design {
    &-#{$name} {
      color: $color;
    }
  }
}

@mixin style-color-gradient {
  @each $name, $color in $colors-gradient-design {
    &-#{$name} {
      background: $color;
      background-clip: text;
      color: transparent;
    }
  }
}

@mixin style-letter-spacing {
  &-s015 {
    letter-spacing: 0.0015em;
  }
}

// prefix declarations
@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }

  @if $moz == true {
    -moz-#{$property}: #{$value};
  }

  @if $ms == true {
    -ms-#{$property}: #{$value};
  }

  @if $o == true {
    -o-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

@mixin thumbnail-scale-hover {
  overflow: hidden;

  &:hover {
    .a-image {
      transform: scale(1.2);
    }
  }
}
