// fonts
$font-path: '~assets/fonts/';
$font-oswald: 'Oswald';
$font-svn-gotham: 'SVN Gotham';

// transition
$transition: 0.25s;
$transition-long: 0.4s;

$standard-viewport: 1366px;

// z-index
$z-header: 100;
$z-modal: 101;
$z-1: 1;
$z-tab-menu: 99;

$offsets: (top, bottom, left, right);
$breakpoints: (
  sm: '(min-width: 576px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 992px)',
  xl: '(min-width: 1200px)',
);

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true;
$moz: false;
$ms: false;
$o: false;

// Height header
$height-header-main-desktop: 67;
$height-header-main-desktop-down: 56;
