.t-divisionLocation {
  &_wrapContent {
    position: relative;
  }

  &_map {
    padding-bottom: calc(780 / 1366 * 100%);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &_bg {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_svg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &_box {
    max-width: rem(450);
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 8.78%;
    bottom: 19.87%;
    pointer-events: none;
    opacity: 0;

    @include tablet-desktop {
      left: 5%;
      bottom: 5%;
    }

    @include tablet {
      max-width: rem(350);
      left: 5%;
      bottom: 5%;
    }

    @include mobile-down {
      position: initial;
      left: auto;
      bottom: auto;
    }
    
    &.active {
      animation: fadeInUp 0.4s linear 1.3s forwards;
    }
  }
}

.division-group {
  mix-blend-mode: screen;
}

.t-boxDivision {
  border: 1px solid $white;
  border-radius: rem(12);
  @include mobile-down {
    border-radius: 0;
    border-color: $anti-flash-white;
    border-top: 0;
  }

  &_heading {
    background-color: rgba($white, 0.35);
    padding: rem(10) rem(32);
    border-bottom: 1px solid $white;
    @include tablet-down {
      padding: rem(10);
    }
    @include mobile-down {
      border: 0;
      padding-bottom: 0;
    }
    .a-heading {
      @include tablet-down {
        @include font-base(16,24);
      }
      @include mobile-down {
        @include font-base(18,32);
        color: inherit;
      }
    }
  }

  &_content {
    padding: rem(16) rem(32);
    @include tablet-down {
      padding: rem(10);
    }
    .a-text {
      @include tablet-down {
        @include font-base(14,24);
      }
      @include mobile-down {
        color: $davy-grey;
      }
    }
  }
}

@mixin imageShine ($width, $height, $top, $left) {
  max-width: calc(#{$width} / 1366 * 100%);
  position: absolute;
  top: calc(#{$top} / 780 * 100%);
  left: calc(#{$left} / 1366 * 100%);
  width: 100%;

  .a-image {
    @include aspect-ratio($width, $height);
  }
}

.division {
  &-image {
    animation: fadeInBlur 0.4s linear 1.3s infinite alternate;
    mix-blend-mode: screen;
    opacity: 0;

    &.floridaSecond {
      @include imageShine(418,193,287,940)
    }

    &.festivalStreet {
      @include imageShine(211,171,497,829)
    }

    &.festivalTown {
      @include imageShine(421,280,205,940)
    }
    
    &.pgaGolf {
      @include imageShine(384,167,187,604)
    }

    &.floridaFirst {
      @include imageShine(461,359,311,904)
    }

    &.santa {
      @include imageShine(122,115,331,518)
    }

    &.waikiki {
      @include imageShine(241,176,290,762)
    }

    &.boutique {
      @include imageShine(132,113,450,1180)
    }

    &.oceanResidence {
      @include imageShine(225,140,69,10)
    }

    &.kingDom {
      @include imageShine(243,195,222,511)
    }
  }

  &-line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: runDivisionLine 1.2s linear 0.6s forwards;
  }
}

@keyframes runDivisionLine {
  to {
    stroke-dashoffset: 0;
  }
}

