.p-contact {
  background-color: $isabelline;
  .s-map {
    z-index: 2;
  }
  .s-contact_layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &_balloon {
      max-width: rem(213);
      position: absolute;
      top: rem(-44);
      width: 100%;
      opacity: 0;
      .a-image {
        padding-bottom: (153 / 213) * 100%;
      }
      @include break-min(1366px) {
        left: 10%;
      }
      @include break-min(1920px) {
        left: 20%;
      }
      @include desktop-down {
        left: rem(100);
      }
      @include mobile-down {
        max-width: rem(120);
        top: rem(-22);
        left: rem(10);
      }
    }

    &_leaf {
      bottom: rem(-216);
      max-width: rem(237);
      position: absolute;
      right: 0;
      width: 100%;
      opacity: 0;
      .a-image {
        padding-bottom: (414 / 238) * 100%;
      }

      @include tablet-down {
        bottom: rem(-144);
        max-width: rem(168);
      }
    }
  }
}
