.o-container {
  height: 100%;
  @include break-min($standard-viewport) {
    margin-left: auto;
    margin-right: auto;
    max-width: $standard-viewport;
    padding-left: rem(120);
    padding-right: rem(120);
  }

  &-noPaddingRight {
    padding-right: 0;
  }

  &-noPaddingLeft {
    padding-left: 0;
  }

  &-fullscreen {
    padding-left: 0;
    padding-right: 0;
  }

  &-fullScreenTabletUp {
    @include break(992px, 1365px) {
      max-width: 100%;
    }

    @include tablet-up {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
