.p-home {
  background-color: $isabelline;
  position: relative;

  &_sand {
    position: relative;

    &_layer {
      mix-blend-mode: overlay;
      position: absolute;
      top: rem(-256);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      width: 100%;

      .a-image {
        padding-bottom: (535 / 1366) * 100%;
      }

      @include desktop-down {
        top: rem(-300);
        .a-image {
          padding-bottom: 68%;
        }
      }

      @include mobile-down {
        top: rem(-56);
      }
    }
  }
}
