.o-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-header;

  &_layer-search {
    align-items: center;
    background-color: rgba($black, 0.9);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: $transition-long linear;
    z-index: 4;

    &-open {
      transform: translateX(0);
    }

    &_content {
      width: 100%;

      .a-heading {
        margin-bottom: rem(20);
      }
    }

    .t-banner_search {
      @include mobile-down {
        min-width: 80%;
      }
    }

    .button-close {
      @include reset-button();
      background-color: transparent;
      padding: rem(5);
      position: absolute;
      right: rem(16);
      top: rem(16);
    }
  }

  &_main {
    background: $black06;
    height: rem($height-header-main-desktop);
    transition: $transition-long ease-in-out;
    @include desktop-down {
      height: rem($height-header-main-desktop-down);
    }
  
    &-isScroll {
      height: 0;
      overflow: hidden;
    }
  }

  &_wrap {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    @include tablet-down {
      justify-content: space-between;
    }
  }

  &_left {
    flex-shrink: 0;
    width: rem(184);
    @include desktop-down {
      width: rem(140);
    }
  }
  
  &_right {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    transition: $transition-long linear;

    @include tablet-down {
      background-color: $white;
      display: block;
      height: 100vh;
      margin-top: 0;
      overflow: auto;
      padding: rem(25) rem(104) rem(50) rem(104);
      position: fixed;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: $transition-long linear;
      width: 100%;
      z-index: 2;
    }

    @include small-mobile {
      padding: rem(25) rem(16) rem(50) rem(16);
    }

    &-open {
      transform: translateX(0);
    }
  }

  &_utility {
    align-items: center;
    display: flex;
  }

  &_btn-search {
    @include reset-button();
    background: transparent;
    padding: rem(5);
  }

  &_hamburger {
    width: rem(46);
    z-index: 3;
    @include tablet-up {
      display: none;
    }
  }

  &_utility {
    @include tablet-down {
      display: none;
    }
  }

  &_language {
    &-desktop {
      margin: 0 rem(16);
      @include tablet-down {
        display: none;
      }
    }

    &-mobile {
      @include tablet-up {
        display: none;
      }
    }
  }

  &_search-mobile {
    display: flex;
    justify-content: flex-end;
    @include tablet-up {
      display: none;
    }
  }
}

.hamburger {
  cursor: pointer;
  display: inline-block;

  span {
    background: $white;
    display: block;
    height: 2px;
    margin: 6px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    width: rem(26);
  }

  &.active {
    span {
      &:nth-child(1) {
        background: $gamboge-orange;
        transform: rotate(45deg) translate(5px, 6px);
        transition-delay: 0s , 0.3s , 0s;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        background: $gamboge-orange;
        transform: rotate(-45deg) translate(5px, -6px);
        transition-delay: 0s , 0.3s , 0s;
      }
    }
  }
}

.pulldown-lang {
  .m-pulldown {
    &_header {
      background-color: transparent;
      border: 0;

      &_content {
        color: $white;
        font-weight: 400;
        justify-content: center;
        padding: 0;
        width: rem(30);
        @include font-base(16,28);
      }
    }

    &_fn {
      margin: 0;
    }

    &_arrow::after {
      background: url('~assets/icons/ic_chevron_down_white.svg') no-repeat center;
    }

    &_item {
      color: $davy-grey;
      padding: rem(5) 0;
      text-align: center;
    }
  }
}
