.o-cardLayer {
  $root: &;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:not(&-hover) {
    @include thumbnail-scale-hover();
  }

  &-hover {
    &:hover {
      #{$root}_content {
        top: 0;
        transition: all $transition ease-in-out;
      }
      #{$root}_content-desc {
        margin-top: rem(5);
      }
    }
  }

  &-r15 {
    border-radius: rem(15);
  }

  &-r12 {
    border-radius: rem(12);
  }

  &-filter {
    box-shadow: 0 rem(4) rem(16) $black025;
  }

  &_content {
    background: $black06;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all $transition-long ease-in-out;
    width: 100%;

    #{$root}-pd-6x20 & {
      padding: rem(6) rem(20);
      top: calc(100% - 40px);
    }

    #{$root}-pd-8x16 & {
      padding: rem(8) rem(16);
      top: calc(100% - 44px);
    }

    #{$root}-pd-24x16 & {
      padding: rem(8) rem(16);
      top: calc(100% - 44px);
    }

    #{$root}-pd-6x16 & {
      padding: rem(6) rem(16);
      top: calc(100% - 40px);
    }

    #{$root}-pd-6x16:hover & {
      padding: rem(16);
    }
    
    &-desc {
      margin-top: rem(14);
      @include text-overflow(5);

      @include mobile-down {
        margin-top: rem(20);
      }
    }

    &-title {
      @include text-overflow(1);
    }
  
  }
}
