.m-subDivisionCard {
  display: flex;
  filter: drop-shadow(0 rem(4) rem(16) rgba($black, 0.1));
  flex-direction: column;
  height: 100%;

  &_image {
    border-radius: rem(12);
    overflow: hidden;
  }

  &_content {
    background-color: $white;
    border-radius: rem(12);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: rem(-39) auto 0;
    max-width: rem(314);
    padding: rem(16) rem(30);
    position: relative;
    width: 100%;
  }

  &_desc {
    @include text-overflow(2);
  }
}
