.t-projectPositionHome {
  background: $antique-white url('~assets/images/projectPositionHome/bg.png') no-repeat left bottom / 100% 60%;
  padding: rem(197) 0 rem(138);
  position: relative;
  @include tablet-down {
    padding: rem(197) 0 rem(50);
  }
  @include mobile-down {
    padding: rem(100) 0 rem(30);
  }

  &_bgLeft {
    max-width: rem(192);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none;
    @include break-max (1366px) {
      max-width: 14%;
    }
    @include mobile-down {
      max-width: rem(100);
    }
    .a-image {
      padding-bottom: calc(317 / 192 * 100%);
    }
  }

  &_bgRight {
    max-width: rem(209);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    pointer-events: none;
    @include break-max(1366px){
      max-width: 15.3%;
    }
    @include mobile-down {
      max-width: rem(100);
    }
    .a-image {
      padding-bottom: calc(348 / 209 * 100%);
    }
  }

  &_map {
    position: relative;
    z-index: 2;
  }

  &_info {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;

    @include tablet-down {
      position: relative;
    }
  }

  &_wrap {
    display: flex;
    margin-top: rem(35);

    @include mobile-down {
      flex-direction: column;
      margin-top: rem(10);
    }
  }

  &_utility {
    margin-left: rem(17);
    
    @include mobile-down {
      margin-left: 0;
      margin-top: rem(10);
    }
  }
}
