.s-menuTag {
  $menuTag: &;
  ul,
  li {
    list-style-type: none;
  }
  &_wrapper {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(1);
      background: rgba($black, 0.07);
    }
  }
  &_content {
    display: flex;
  }
  &_item {
    padding: rem(12);
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: rem(2);
      transition: all $transition-long ease-in-out;
      background: transparent;
    }

    &:hover,
    &-active {
      &::before {
        background: $gradient-green;
        width: 100%;
      }
      .a-text {
        background: $gradient-green;
        font-weight: 700;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  @include mobile-down {
    #{$menuTag}_content {
      overflow-x: auto;
    }
    #{$menuTag}_item {
      white-space: nowrap;
    }
  }
}

.o-cardImage {
  &_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: rem(12);
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: -20%;
      left: 0;
      width: 50%;
      height: 200%;
      background-color: rgba($taupe-gray, 0.3);
      pointer-events: none;
      transform: translateX(-100%);
      transition: 0.4s ease;
      z-index: 1;
    }
    &:hover:before {
      transform: translateX(300%) rotate(45deg);
    }
  }
}
