.o-wrapLoadMore {
  position: relative;
  height: 100%;
  
  &_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $black06;
    border-radius: rem(12);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}