.a-button {
  $root: &;
  position: relative;
  font-family: inherit;
  @include adjust-flex();
  @include reset-button();
  @include prefixed(transition-duration, 0.3s);
  @include prefixed(transition-property, 'box-shadow, transform');

  &-lg {
    border-radius: rem(30);
    height: rem(56);
    padding: 0 rem(32);
    @include font-base(14, 20);
    font-weight: bold;
    color: $white;

    @include mobile-down {
      height: rem(44);
      border-radius: rem(25);
      padding: 0 rem(20);
    }

    &::after,
    &::before {
      border-radius: inherit;
      transition: all $transition-long;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
     
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      bottom: 2px;
      right: 2px;
      z-index: 1;
      background-color: transparent;
      @include mobile-down {
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
      }
    }
  }

  &_text {
    position: relative;
    z-index: 2;
  }

  &_loading {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &-primary-blue {
    &::before {
      background: linear-gradient(270.29deg, $green-blue 43.68%, $picton-blue 105.59%);
    }
  }

  &-primary-green {
    &::before {
      background: linear-gradient(180deg, $persian-green 0%, $skobeloff 100%);
    }
  }

  &-outline-green {
    &::before {
      background: linear-gradient(180deg, $persian-green 0%, $skobeloff 100%);
    }
    
    &::after {
      background-color: $white;
    }

    #{$root}_text {
      background: linear-gradient(180deg, $persian-green 0%, $skobeloff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    @include prefixed(transform, scale(1.02));
  }

  &-loading {
    pointer-events: none;
    #{$root}_text {
      opacity: 0;
    }
  }
}