.a-button {
  $root: &;
  color: $white;
  font-family: inherit;
  font-weight: bold;
  position: relative;
  @include adjust-flex();
  @include reset-button();
  @include prefixed(transition-duration, 0.3s);
  @include prefixed(transition-property, 'box-shadow, transform');
  @include font-base(14, 20);

  &::after,
  &::before {
    border-radius: inherit;
    transition: all $transition-long;
  }

  &::before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
   
  }

  &::after {
    background-color: transparent;
    bottom: 2px;
    content: '';
    display: block;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1;
    @include mobile-down {
      bottom: 1px;
      left: 1px;
      right: 1px;
      top: 1px;
    }
  }

  &-lg {
    border-radius: rem(30);
    height: rem(56);
    padding: 0 rem(32);

    @include mobile-down {
      border-radius: rem(25);
      height: rem(44);
      padding: 0 rem(20);
    }
  }

  &-md {
    border-radius: rem(30);
    height: rem(40);
    padding: 0 rem(32);
  }

  &_text {
    position: relative;
    z-index: 2;
  }

  &_loading {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &-primary-blue {
    &::before {
      background: $gradient-blue-2;
    }
  }

  &-primary-green {
    &::before {
      background: $gradient-green;
    }
  }

  &-outline-green {
    &::before {
      background: $gradient-green;
    }
    
    &::after {
      background-color: $white;
    }

    #{$root}_text {
      background: $gradient-green;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 10px 10px -10px rgba($black, 0.5);
    @include prefixed(transform, scale(1.02));
  }

  &-loading {
    pointer-events: none;
    #{$root}_text {
      opacity: 0;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
