.o-notify {
  &_content {
    padding: rem(40) rem(60);
    background-color: $isabelline;
  }

  &_message {
    margin-top: rem(14);
  }

  &_btn {
    margin-top: rem(32);
    @include adjust-flex(center, center);
  }
}