.t-consultancy {
  $root: &;
  position: relative;

  &_content {
    position: relative;
    z-index: 2;
  }

  &-md {
    padding-bottom: rem(60);
    padding-top: rem(30);
    @include tablet-down {
      padding-bottom: rem(40);
      padding-top: rem(20);
    }
    @include mobile-down {
      padding-bottom: rem(20);
      padding-top: rem(10);
    }
  }

  &-lg {
    padding-bottom: rem(80);
    padding-top: rem(40);
    @include tablet-down {
      padding-bottom: rem(60);
      padding-top: rem(30);
    }
    @include mobile-down {
      padding-bottom: rem(40);
      padding-top: rem(20);
    }
  }

  &_title {
    text-align: center;
    @include desktop-up {
      align-items: center;
      display: flex;
      height: 100%;
      text-align: left;
    }
  }
}
