.t-verticalJourneys {
  position: relative;

  &::before {
    background: linear-gradient(to bottom , rgba($white, 0.7) 10%, $white 15%, $white 65%, rgba($white, 0.5) 75%);
    content: '';
    height: 100%;
    left: rem(15);
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: rem(4);
    @include small-mobile {
      display: none;
    }
  }

  &_arrowMobile {
    display: flex;
    margin: rem(16) 0 rem(10);
    @include mobile-up {
      display: none;
    }

    button {
      @include adjust-flex();
      @include reset-button();
      background-color: $taupe-gray;
      border-radius: 50%;
      border-radius: 50%;
      height: rem(40);
      margin-right: rem(10);
      width: rem(40);

      &.disabled {
        background-color: transparent;
        pointer-events: none;
      }
    }
  }

  &_timelineList {
    max-height: rem(508);
    min-height: rem(470);
    overflow: hidden;
    padding-top: rem(24);

    @include desktop-down {
      padding-top: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include small-mobile {
      display: flex;
      min-height: initial;
    }
  }

  &_timelineItem {
    margin-bottom: rem(14);
    transition: $transition-long linear;
  
    &.active {
      margin-bottom: rem(80);

      @include desktop-down {
        margin-bottom: rem(60);
      }

      @include mobile-down {
        margin-bottom: rem(40);
      }
      @include small-mobile {
        margin-bottom: 0;
      }
    }

    @include small-mobile {
      flex: 0 0 100%;
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}

.t-timelineCard {
  $root: &;
  max-width: 100%;
  padding-left: rem(64);
  position: relative;

  @include desktop-down {
    padding-left: rem(48);
  }

  @include small-mobile {
    padding: 0;
  }

  &_circle {
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
    height: rem(8);
    left: rem(15);
    position: absolute;
    top: rem(10);
    transform: translateX(-50%);
    transition: $transition-long linear;
    width: rem(8);

    &.active {
      background: $taupe-gray;
      border: 1px solid $white;
      height: rem(20);
      width: rem(20);
    }

    @include small-mobile {
      display: none;
    }
  }

  &.active {
    #{$root}_title .a-text {
      letter-spacing: 0.0015em;
      @include font-base(36, 48);
      @include mobile-down {
        @include font-base(20, 32);
      }
    }
  }

  &_title {
    cursor: pointer;

    .a-text {
      transition: $transition-long linear;
    }
  }

  &_description {
    max-height: rem(60);
    overflow-y: auto;
    @include scroll-bars(4, $white, transparent);
  }

  &_btn {
    background-color: $white;
    border-radius: rem(30);
    color: $sea-blue;
    display: block;
    font-weight: bold;
    min-width: rem(255);
    padding: rem(16) rem(40);
    width: fit-content;
    @include font-base(14,20);
    @include mobile-down {
      border-radius: rem(20);
      min-width: rem(215);
      padding: rem(12) rem(20);
    }

    &:hover {
      color: $sea-blue;
    }
  }
}

.t-journeysList {
  .slick-track { 
    margin-left: initial;
  }

  .o-carousel_arrow {
    top: rem(-40);
    @include tablet-down {
      top: rem(-30);
    }

    &_prev {
      left: auto;
      right: rem(78);
      @include tablet-down {
        right: rem(58);
      }
    }

    &_next {
      right: rem(10);
    }
  }
}

.t-journeys {
  padding: rem(80) 0 rem(40);
  position: relative;
  z-index: 1;

  @include mobile-down {
    padding: rem(40) 0 rem(20);
  }

  &::after {
    background-color: rgba($black, 0.5);
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_bg {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_wrapContent {
    position: relative;
    z-index: 2;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
  }

  &_left {
    flex: 0 0 rem(420);
    max-width: rem(420);

    @include desktop-down {
      flex: 0 0 rem(320);
      max-width: rem(320);
    }

    @include small-mobile {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &_right {
    $right: &;
    align-items: flex-end;
    display: flex;
    flex: 0 0 calc(89% - 420px);
    margin-left: 11%;
    max-width: calc(89% - 420px);

    @include desktop-down {
      flex: 0 0 calc(89% - 320px);
      max-width: calc(89% - 320px);
    }
    @include small-mobile {
      flex: 0 0 100%;
      margin: rem(20) 0 0;
      max-width: 100%;
    }


  &-empty {
    align-items: center;

    @include mobile-down {
      #{$right}_list {
        min-height: inherit;
      }
    }
  }

    &_list {
      margin-bottom: rem(40);
      width: 100%;
      @include desktop-down {
        margin-bottom: rem(16);
      }
      @include small-mobile {
        margin-bottom: 0;
        min-height: rem(300);
      }
    }
  }

}
