.floatingButton {
  $root: &;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: rem(32);
  position: fixed;
  right: rem(24);
  z-index: 10;

  &_wrapButton {
    position: relative;
    margin-bottom: rem(16);
    &:hover {
      #{$root}_tooltip {
        opacity: 1;
        transform: translate(-8px, -50%);
        visibility: visible;
      }
    }
  }

  &_button {
    background: $copper;
    width: rem(32);
    height: rem(32);
    box-shadow: 4px 4px 36px rgba($black, 0.2);
    border-radius: 50%;
    @include adjust-flex();
    cursor: pointer;
  }

  &_tooltip {
    background-color: $floral-white;
    border-radius: 200px 0px 0px 200px;
    opacity: 0;
    padding: rem(4) rem(12);
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translate(-16px, -50%);
    transition: all $transition linear;
    visibility: hidden;
    white-space: nowrap;

    &::before {
      background-color: $floral-white;
      content: '';
      height: rem(18.3);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%) rotate(45deg);
      width: rem(18.3);
    }
  }

  &_scrollTop {
    border-radius: 50%;
    box-shadow: 4px 4px 36px rgba($black, 0.2);
    background: $copper;
    width: rem(32);
    height: rem(32);
    @include adjust-flex();
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all $transition ease-in-out;

    &-show {
      opacity: 1;
      visibility: visible;
    }
  }
}