.m-cardVideo {
  $root: &;
  display: flex;
  flex-direction: column;
  border-radius: rem(12);
  overflow: hidden;

  &_thumbnail {
    @include reset-button();
    position: relative;
    width: 100%;
    padding: 0;
    background-color: transparent;

    &:hover {
      #{$root}_player {
        height: rem(48);
        width: rem(48);
        .a-icon {
          width: rem(16);
          height: rem(18);
        }
      }
    }
  }

  &_player {
    width: rem(40);
    height: rem(40);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 50%;
    transition: all $transition linear;
    @include adjust-flex();
    .a-icon {
      transition: all $transition linear;
      margin-left: rem(3);
    }
  }

  &_content {
    background-color: $white;
    padding: rem(12) rem(16) rem(28);
    display: flex;
    flex-direction: column;
    #{$root}-reverse & {
      flex-direction: column-reverse;
    }
  }
}
