@mixin locationInMap($width) {
  object-fit: cover;
  position: absolute;
  width: $width;
}

@mixin customAnimation($duration, $name, $delay) {
  animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-duration: var($duration);
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: $name;
  animation-name: $name;
}

.t-planningHighway {
  $root: &;
  position: relative;

  &_map {
    display: block;
    overflow: hidden;
    padding-bottom: calc(767 / 1366 * 100%);
    position: relative;
    width: 100%;
  }

  &_bg {
    height: 100%;
    left: 0;
    top: 0;
    @include locationInMap(100%);
  }

  &_project {
    pointer-events: none;
    left: 9%;
    top: 27%;
    z-index: 3;
    @include locationInMap(31%);

    &:hover {
      &~#{$root}_expected {
        opacity: 1;
        transform-origin: right bottom;
        visibility: visible;
        @include customAnimation(1s, translateTopToBottom, 0.3s);
      }
    }

    @include mobile-down {
      animation: fadeInBlur 1s ease infinite;
    }
  }

  &_locationPoint {
    bottom: 60%;
    left: 0.8%;
    @include locationInMap(3.3%);
  }

  &_planeLarge {
    bottom: 10%;
    pointer-events: none;
    left: 2%;
    z-index: 3;
    @include locationInMap(6.6%);

    &:hover {
      &~#{$root}_airport {
        opacity: 1;
        visibility: visible;

        &>#{$root}_airport_thumbnail {
          @include customAnimation(1s, translateBottomToTop, calc(0.4s));
        }

        &>#{$root}_airport-box {
          @include customAnimation(1s, translateTopToBottom, 0.4s);
        }

        .o-box_plane {
          @include customAnimation(0.8s, zoomIn, calc(0.5s + 0.4s));
          transform-origin: bottom left;
        }
      }
    }

    @include mobile-down {
      animation: animationPlane 1s ease infinite alternate;
    }
  }

  &_planeSmall {
    bottom: 74%;
    pointer-events: none;
    left: 59.8%;
    z-index: 4;
    @include locationInMap(4%);

    &:hover {
      &~#{$root}_airportOther {
        opacity: 1;
        visibility: visible;

        &>#{$root}_airportOther_thumbnail {
          @include customAnimation(0.5s, translateRightToLeft, 0.3s);
        }

        &>#{$root}_airportOther-box {
          @include customAnimation(0.5s, translateLeftToRight, 0.3s);
        }
      }
    }

    @include mobile-down {
      animation: animationPlane 1s ease infinite alternate;
    }
  }

  &_svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    .vector {
      animation: StrokeLine 10s infinite linear;
      stroke: $deer1;
      stroke-dasharray: 10;
      stroke-dashoffset: 0;
      stroke-miterlimit: 10;
      stroke-width: 5;

      &-blue {
        stroke: $yale-blue1;
      }
    }
  }

  &_expected {
    bottom: 74%;
    max-width: fit-content;
    opacity: 0;
    position: absolute;
    right: 70%;
    visibility: hidden;
    z-index: 2;

    @include break(991px, 1366px) {
      bottom: 70%;
      right: 75%;
    }

    @include tablet-down {
      max-width: rem(250);
    }

    @include mobile-down {
      display: none;
    }
  }

  &_airport {
    left: 9.5%;
    max-width: fit-content;
    opacity: 0;
    position: absolute;
    top: 80%;
    transition: all $transition ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 2;

    @include desktop-down {
      max-width: rem(320);
    }

    @include tablet-down {
      max-width: rem(250);
    }

    @include mobile-down {
      display: none;
    }

    &_thumbnail {
      bottom: 120%;
      left: 0;
      max-width: rem(262);
      position: absolute;
      width: 100%;

      @include desktop-down {
        max-width: rem(200);
      }

      @include tablet-down {
        max-width: rem(140);
      }

      @include mobile-down {
        max-width: rem(60);
      }
    }
  }

  &_airportOther {
    bottom: 83%;
    max-width: rem(400);
    opacity: 0;
    position: absolute;
    right: 39%;
    transition: all $transition ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 2;

    @include desktop-down {
      max-width: rem(300);
    }

    @include tablet-down {
      max-width: rem(200);
    }

    @include mobile-down {
      display: none;
    }

    &_thumbnail {
      bottom: -8%;
      left: 108%;
      max-width: rem(166);
      position: absolute;
      width: 100%;

      @include desktop-down {
        max-width: rem(140);
      }

      @include tablet-down {
        max-width: rem(100);
      }

      @include mobile-down {
        max-width: rem(60);
      }
    }
  }

  &_scheduleBox {
    bottom: 6%;
    max-width: rem(451);
    position: absolute;
    right: 8%;
    width: 100%;
    z-index: 2;

    @include desktop-down {
      max-width: rem(400);
      right: 2%;
    }

    @include tablet-down {
      bottom: 0;
      margin-top: rem(10);
      max-width: 100%;
      position: relative;
      right: 0;
    }
  }

  .customAnimate-zoomInLocationPoint {
    @include customAnimation(0.3s, zoomIn, 0.4s);
  }

  .customAnimate-zoomInCasePlaneLarge {
    cursor: pointer;
    pointer-events: visible;
    @include mobile-up {
      @include customAnimation(1s, zoomIn, calc(0.4s + 0.3s));
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  .customAnimate-zoomInProject {
    cursor: pointer;
    pointer-events: visible;
    @include customAnimation(1.5s, zoomInMedium, calc(0.4s + 0.3s + 0.3s));
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out steps(3, end);
  }

  .customAnimate-zoomInCasePlaneSmall {
    cursor: pointer;
    pointer-events: visible;
    @include mobile-up {
      @include customAnimation(1s,
      zoomIn,
        calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 0.2s));
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  .customAnimate-plane {
    @include customAnimation(0.8s,
    zoomIn,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s));
    transform-origin: bottom left;
  }

  .customAnimate-scheduleBox {
    @include customAnimation(0.6s,
    fadeInUp,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s));

    @include tablet-down {
      animation-delay: 0.2s;
    }
  }

  .customAnimate-scheduleBoxItem-0 {
    @include customAnimation(0.75s,
    slideInLeftText,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s + 0.5s));

    @include tablet-down {
      animation-delay: 0.4s;
    }
  }

  .customAnimate-scheduleBoxItem-1 {
    @include customAnimation(0.75s,
    slideInLeftText,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s + 0.5s + 0.2s));

    @include tablet-down {
      animation-delay: 0.6s;
    }
  }

  .customAnimate-scheduleBoxItem-2 {
    @include customAnimation(0.75s,
    slideInLeftText,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s + 0.5s + 0.2s + 0.2s));

    @include tablet-down {
      animation-delay: 0.8s;
    }
  }

  .customAnimate-scheduleBoxItem-3 {
    @include customAnimation(0.75s,
    slideInLeftText,
      calc(0.4s + 0.3s + 0.3s + 0.5s + 0.6s + 1s + 0.5s + 0.5s + 0.2s + 0.2s + 0.2s));

    @include tablet-down {
      animation-delay: 0.9s;
    }
  }
}

.o-box {
  border-radius: rem(12);
  padding: rem(12) rem(16);
  position: relative;

  @include tablet-down {
    padding: rem(12);
  }

  &_content {
    overflow: auto;

    @include scroll-bars(5, $copper, $gainsboro, 8, 0, 5);

    @include tablet-down {
      max-height: rem(40);
    }

    @include mobile-down {
      max-height: rem(26);
    }

    .a-text {
      @include font-base(16, 28);

      @include desktop-down {
        @include font-base(12, 20);
      }
    }

    ul {
      padding-left: rem(24);

      @include tablet-down {
        padding-left: rem(16);
      }
    }
  }

  &_plane {
    max-width: rem(182);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -74%);
    width: 100%;

    @include tablet-down {
      max-width: rem(100);
    }

    @include mobile-down {
      max-width: rem(65);
    }
  }

  &-yellow {
    background-color: $deer1;
  }

  &-blue {
    background-color: $yale-blue1;
  }

  &-blue-top-left {
    border-top-left-radius: 0;

    &::before {
      background: url('~assets/images/planningHighway/blue_top_left.png') no-repeat;
      bottom: calc(100% - 2px);
      content: '';
      height: 100%;
      height: rem(14);
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      width: rem(14);
    }
  }

  &-yellow-bottom-right {
    border-bottom-right-radius: 0;

    &::before {
      background: url('~assets/images/planningHighway/yellow_bottom_right.png') no-repeat;
      content: '';
      height: rem(14);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: calc(100% - 2px);
      width: rem(14);
    }
  }

  &-blue-bottom-right {
    border-bottom-right-radius: 0;

    &::before {
      background: url('~assets/images/planningHighway/blue_bottom_right.png') no-repeat;
      content: '';
      height: rem(14);
      pointer-events: none;
      position: absolute;
      right: 0;
      top: calc(100% - 2px);
      width: rem(14);
    }
  }

  &_content {
    .a-text {
      @include tablet-down {
        @include font-base(10, 18);
      }
    }
  }
}

.o-scheduleBox {
  border-radius: rem(12);
  overflow: hidden;

  &_title {
    background: $white035;

    @include tablet-down {
      background: $taupe-gray;
    }
  }

  &_wrapper {
    background: $white015;
    padding: rem(28);

    @include desktop-down {
      padding: rem(20);
    }

    @include tablet-down {
      background: rgba($taupe-gray, 0.4);
    }

    .row {
      overflow: hidden;
    }
  }

  &_item {
    display: flex;

    &_layer {
      background: $banana-mania;
      height: 100%;
      width: rem(2);
    }
  }
}

.o-popupInfo {
  background-color: $isabelline;
  padding: rem(50) rem(20) rem(30);

  &_image {
    margin: 0 auto;
    max-width: rem(300);
  }

  ul {
    padding-left: rem(24);
  }
}

@keyframes animationPlane {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-40%, 40%) scale(1.2);
  }
}

@keyframes slideInLeftText {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
