.t-divisionJourneys {
  padding: rem(80) 0;
  position: relative;

  @include mobile-down {
    padding: rem(48) 0;
  }

  &::before {
    background: $black06;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_bg {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &_content {
    position: relative;
  }

  &_carousel {
    .slick-dots {
      bottom: rem(-32);

      @include mobile-down {
        bottom: rem(-15);
      }
    }

    .slick-slide {
      height: inherit;
      margin: rem(-16) 0;
      padding: rem(16);

      > div {
        padding: rem(16) 0;
      }

      > div,
      .o-carousel_wrap,
      .o-carousel_item {
        height: inherit;
      }
    }
  }

  .o-tabs {
    background: $gradient-white;
    border-bottom: 1px solid rgba($white, 0.4);;
    backdrop-filter: blur(4px);

    &_labels {
      display: inline-flex;
      max-width: 100%;
      overflow-x: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &_label {
      @include font-base(14,20);
      color: $white;
      white-space: nowrap;
      transition: $transition-long linear;
    }

    &_tab {
      cursor: pointer;
      padding: rem(12);
      position: relative;

      &::after {
        bottom: 0;
        height: 2px;
        width: 0%;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 2px 2px 0px 0px;
        content: '';
        transition: $transition-long linear;
        position: absolute;
        background-color: $white;
      }

      &-active {
        .o-tabs_label {
          font-weight: bold;
        }
      }
      
      &:hover ,
      &-active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
