.t-divisionJourneys {
  padding: rem(80) 0;
  position: relative;

  @include mobile-down {
    padding: rem(48) 0;
  }

  &::before {
    background: $black06;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &_bg {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &_content {
    position: relative;
  }

  &_carousel {
    .slick-dots {
      bottom: rem(-32);

      @include mobile-down {
        bottom: rem(-15);
      }
    }

    .slick-slide {
      height: inherit;
      margin: rem(-16) 0;
      padding: rem(16);

      > div {
        padding: rem(16) 0;
      }

      > div,
      .o-carousel_wrap,
      .o-carousel_item {
        height: inherit;
      }
    }
  }
}
