.p-policy {
  background-color: $isabelline;

  .s-policy_layer {
    position: relative;
    
    &_balloon {
      max-width: rem(146);
      position: absolute;
      right: 0;
      top: rem(-20);
      width: 100%;

      .a-image {
        padding-bottom: (246 / 180) * 100%;
      }

      @include desktop-down {
        max-width: rem(120);
      }

      @include tablet-down {
        max-width: rem(100);
        top: 0;
      }

      @include mobile-down {
        max-width: rem(80);
      }
    }
  }
}
