.c-flatList {
  .slick-list {
    margin: 0 rem(-16);
  }

  .slick-slide {
    height: inherit;
    padding: 0 rem(16);

    > div,
    .o-carousel_wrap,
    .o-carousel_item {
      height: 100%;
    }
  }

  .slick-track {
    display: flex;
  }
}
