.t-error {
  $root: &;
  position: relative;
  background: $isabelline url('~assets/images/error/BG.png') no-repeat bottom / contain;
 
  &_layerLeft {
    position: absolute;
    width: 100%;
    max-width: rem(79);
    top: rem(214);
    left: 0;
    .a-image {
      padding-bottom: (114 / 79) * 100%;
    }

    @include tablet-down {
      max-width: rem(70);
    }

    @include mobile-down {
      max-width: rem(32);
      top: rem(160);
    }
  }

  &_layerRight {
    position: absolute;
    width: 100%;
    max-width: rem(215);
    top: rem(100);
    right: rem(-62);
    .a-image {
      padding-bottom: (148 / 215) * 100%;
    }

    @include tablet-down {
      max-width: rem(170);
      right: 0;
    }

    @include mobile-down {
      max-width: rem(88);
      top: rem(80);
    }
  }

  &_content {
    position: relative;
  }

  
  &_thumbnail {
    width: rem(320);
    @include desktop-down {
      max-width: rem(280);
    }
    @include mobile-down {
      max-width: rem(200);
    }
  }
}