.t-error {
  $root: &;
  background: $isabelline url('~assets/images/error/BG.png') no-repeat bottom / contain;
  position: relative;
 
  &_layerLeft {
    left: 0;
    max-width: rem(79);
    position: absolute;
    top: rem(214);
    width: 100%;

    .a-image {
      padding-bottom: (114 / 79) * 100%;
    }

    @include desktop-down {
      left: rem(24);
    }

    @include tablet-down {
      max-width: rem(70);
    }

    @include mobile-down {
      max-width: rem(48);
      top: rem(160);
      left: rem(48);
    }
  }

  &_layerRight {
    max-width: rem(215);
    position: absolute;
    right: rem(-62);
    top: rem(100);
    width: 100%;

    .a-image {
      padding-bottom: (148 / 215) * 100%;
    }


    @include desktop-down {
      right: rem(24);
    }

    @include tablet-down {
      max-width: rem(170);
      right: rem(36);
    }

    @include mobile-down {
      max-width: rem(120);
      top: rem(80);
    }
  }

  &_content {
    position: relative;
  }

  
  &_thumbnail {
    width: rem(320);
    @include desktop-down {
      max-width: rem(280);
    }
    @include mobile-down {
      max-width: rem(200);
    }
  }
}
